neo4j
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
tiktoken 
wikipedia
serpapi
langchain-groq
langchain_google_genai
pandas
langgraph
langchain
sentence-transformers 
langchain-huggingface
IPython
spacy
django
torch
